<!DOCTYPE html>
<html>
  <head>
    <title>Meat Avatar</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Meatavatarinfo" content="Author: Kollawat">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Meat Avatar</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#product" class="w3-bar-item w3-button">Product</a>
      <a href="#contact" class="w3-bar-item w3-button">Follow Us</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1200px;min-width:500px; margin:auto;" id="home">
  <img class="w3-center w3-margin-top" src="https://static.thairath.co.th/media/Dtbezn3nNUxytg04aYhanIUSa1mUQubmfQmfA1lZkGP7xq.webp" alt="meatavatarcrispypork" style="width:100%; max-width:1200px; height:auto;">
  <br><br> 
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">
  <!-- About Section -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><h1 class="w3-center">About Meat Avatar</h1><br>
    <p><strong>แบรนด์เนื้อจากพืชผักที่อยากให้คนไทยได้กิน</strong><p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Meat Avatar คือแบรนด์ที่ผลิตเนื้อจากพืชผัก (plant-based meat) โดยใช้วัตถุดิบในประเทศไทย เพื่อให้คนไทยสามารถเข้าถึงเนื้อประเภทนี้ได้ง่ายขึ้น โดย “คุณภู วิภู เลิศสุรพิบูล” และ “คุณนิกส์ วรุตม์ จันทร์โพธิ์” สองผู้ก่อตั้งแบรนด์ ได้เล็งเห็นถึงวิวัฒนาการเรื่องเทรนด์ของอาหาร จึงเริ่มศึกษาการนำเข้าอาหาร Plant-Based จากทางฝั่งสหรัฐฯ มาให้คนไทยได้ลองทานกันดู แต่ด้วยราคาวัตถุดิบค่อนข้างสูง ทั้งคู่จึงริเริ่มที่จะทำแบรนด์ขึ้นมาเองในประเทศไทย</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ผลิตภัณฑ์อาหารแพลนต์เบสด์ของ Meat Avatar แปรรูปมาจากธัญพืช ถั่วลันเตา ถั่วเหลือง รวมถึงเห็ด โดยคัดพืชเฉพาะส่วนที่สามารถนำไปสกัดโปรตีนได้มากที่สุด และเอาส่วนที่เป็นแป้งออกให้มากที่สุด เพื่อให้เนื้อแพลนต์เบสด์มีปริมาณคาร์โบไฮเดรตต่ำ พอสกัดส่วนที่เป็นโปรตีนได้แล้วก็จะนำไปทดลองผสมและขึ้นรูป</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สิ่งที่ทำให้ Meat Avatar แตกต่างจากเนื้อแพลนต์เบสด์ต่างประเทศก็คือผลิตภัณฑ์ของ Meat Avatar เริ่มจากการผลิตเนื้อแพลนต์เบสด์เบสิก อย่างเช่น หมูกรอบ หมูสับ และไข่ดาว ซึ่งเป็นวัตถุดิบที่แทบจะมีอยู่ในทุกมื้ออาหารของคนไทยและคนเอเชีย ในขณะที่แบรนด์ต่างประเทศมีแพตตี้เบอร์เกอร์ นอกจากคนกินจะสุขภาพดี เนื้อแพลนต์เบสด์ยังดีต่อโลกด้วย เพราะการลดการบริโภคเนื้อสัตว์จะช่วยลดการเลี้ยงปศุสัตว์ ซึ่งมีส่วนให้เกิดภาวะโลกร้อนถึง 18 เปอร์เซ็นต์</p>
    <img src="https://positioningmag.com/wp-content/uploads/2020/10/2-63.jpg" alt="meatavatarabout" style="width:100%;max-width:1000px" class="w3-margin-top">
    <br><br>  
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ในส่วนของ Concept ชื่อแบรนด์ เริ่มมาจากที่ “Meat Avatar” นับเป็นผู้บุกเบิกอาหารผลิตจากพืชเข้ามาเป็นเจ้าแรกๆ ทางคุณภู และคุณนิกส์ จึงคิดค้นคำที่จะสามารถติดปากผู้บริโภคในตลาด จึงนึกถึงคำว่า “เนื้อจำแลง” ขึ้นมา โดยมีนัยยะความหมายว่าเป็น เนื้อที่แปลงกายมาจากพืช พอผนวกเข้ากับคำว่า “Avatar” ที่มีความหมายเกี่ยวกับการแปลงร่าง จำแลงกาย จากชื่ออวตารที่หลายคนคุนชื่อ จึงได้ออกมาเป็นชื่อภาษาอังกฤษที่เรียกว่า “Meat Avatar” พอดิบพอดี นั่นเอง
      ที่จริงแล้ว อาหาร Plant-Based เป็นเหมือนส่วนหนึ่งของอาหาร Vegan เหมือนกับอาหารเจทั่วไป แต่เมื่อประมาณ 30 ปีก่อน โปรตีนเกษตรมักจะนำมาใช้แทนเนื้อสัตว์ ซึ่งข้อเสียจะเป็นในเรื่องของรสชาติที่ยังไม่อร่อยถูกปากผู้บริโภคมากนัก เรื่องคุณค่าทางโภชนาการ รวมถึงเรื่องกลิ่น
      </p>
  </div>
</div>
    <hr>
  <!-- Product Section -->
  <div class="w3-row w3-padding-64" id="product">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Meat Avatar Product</h1><br>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Meat Avatar มีทั้งผลิตภัณฑ์ Plant-based Meat ที่มีทั้ง หมูกรอบ หมูสับ เนื้อบด เนื้อเบอร์เกอร์ และมีทบอลให้คุณได้เลือกไปทำออกมาเป็นเมนูอาหารที่คุณชื่นชอบ 
         </p>
      <p class="w3-text">หรือจะเป็นผลิตภัณฑ์ Ready to eat ที่สามารถนำไปอุ่นง่ายๆโดยใช้ไมโครเวฟ ก็พร้อมรับประทานได้เลยโดยมีทั้งข้าวกะเพราหมูสับแพลนต์-เบส ข้าวแฮมเบิร์กเนื้อและหมู แพลนต์-เบส และข้าวแกงกะหรี่หมูทอดทงคัตสึ แพลนต์-เบส</p>

      <p>คุณสามารถสั่งผลิตภัณฑ์ของ Meat Avatar ได้ทั่วประเทศผ่านทางร้านค้าปลีกชั้นนำ, ร้านอาหาร, และแพลตฟอร์มออนไลน์ต่างๆ</p>
      
    </div>
    <div class="w3-col l6 w3-padding-large">
      <img src="https://meatavatar.com/wp-content/uploads/2023/03/Product-All-RGB-e1679154515823.jpg" alt="meatavatproduct" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
  </div>

  <hr>

  <hr>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Follow Us</h1><br>
    <p >คูณสามารถติดตาม Meat Avatar ได้ทาง</p>
    <p>Facebook :Meat Avatar</p>
    <p>Line Official :@meatavatar</p>
    <p>Instagram :@meatavatar</p>
    <p>TikTok :@meatavatar.th</p>
  </div>
  
<!-- End page content -->
</div>

</body>
</html>
